{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!
{% endblock %}

{% block body %}
  <h1 class="text-center mt-4">
    Les films de la categorie
    {{category.title}}
  </h1>


{% endblock %}
