{% extends 'base.html.twig' %}

{% block title 'New Movie' %}

{% block body %}

  <h1>
    Nouveau film
    {{ article.id }}
  </h1>

  {{ include("admin/movie/_form.html.twig", {form: formMovie, button: 'Créer'}) }}

{% endblock %}
